@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .dark {
        --color-bg-primary: #1a202c;
        --color-bg-secondary: #2d3748;
    }
}

[x-cloak] {
    display: none !important;
}
